@charset "UTF-8";
body {
	padding: 0;
	margin: 0;
}
header {
	background-color: #78caed;
	margin: 0;
}
header div ul li {
	display: inline-block;
}
#search {
	/* background-color: #ff8000; */
	text-align: center;
	margin: 0;
}
#wapper div {
	
}
#menubar {
	background-color: #c0c0c0;
	margin: 0;
	
}
#menubar ul li {
	display: inline-block;
	margin-bottom: 5px;
}
section {
	width: 100%;
	height: 100%;
	text-align: center;
}
section #contents {
	border: 1px solid black;
	display: inline-block;
	height: 100%;
	width: 70%;
	
}
#ad {
	background-color: #c0c0c0;
	display: inline-block;
	height: 40%;
	border: 1px dotted black;
	
}
footer {
	clear: both;
	background-color: black;
	color: white;
	height: 50px;
	margin: 0;
}